@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
    box-sizing: border-box;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    background-color: hsl(0, 0%, 100%);
    width: 20%;
    padding-top: 0.8em;
    border-radius: 0.8em;
    padding-bottom: 1em;
    margin-top: 5em;

}


img{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 0.5em;
   
}

.head{
    text-align: center;
    display: block;
}

#improve{
    font-weight: 700;
    font-size: 1.2em;
    opacity: 100%;
}

#scan{
    font-weight: 400;
    font-size: 0.8em;
    opacity: 0.5;
}


@media screen and (max-width: 768px) {
    .container{
        width: 70%;
    }
    
}